<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Account Verification</title>
    <style>
        body {
            font-family: Arial, 'sans-serif';
            font-size: 15px;
        }

        p {
            margin: 10px 0 0 0;
        }
    </style>
</head>

<body>

    <table style="width:600px; margin:0px auto;" cellpadding="0" border="0" cellspacing="0">

        <tr style="background-image:url(../../Images/home-bg.png); background-size: cover; background-position: 0px -80px;" >
          
            <td colSpan="2" style="padding:20px;">
                <table width="100%">
                    <tr>
                        <td>
                            <!-- <p style="color: #fff; font-size:20px">Attandance App</p> -->
                            <img style="width: 150px;" src="../../Images/shardalogo.png" width="150" />
                        </td>
                        <!-- <td align="right">
                            <ul className="nav-links">
                                <a title="Home"
                                    style="color: white; text-decoration: underline;  display:inline-block; width:auto; padding:0px 10px; color:#FFFFFF; margin:auto; text-align:center;"
                                    className="active" href="https://www.sharda.ac.in/">Home</a>
                                <a title="About"
                                    style="color: white; text-decoration: underline;  display:inline-block; width:auto; padding:0px 10px; color:#FFFFFF; margin:auto; text-align:center;"
                                    href="https://www.sharda.ac.in/about-us">About</a>
                                <a title="Contact"
                                    style="color: white; text-decoration: underline;  display:inline-block; width:auto; padding:0px 10px; color:#FFFFFF; margin:auto; text-align:center;"
                                    href="https://www.sharda.ac.in/contact">Contact</a>
                            </ul>
                        </td> -->
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <h2
                                style="color: white;font-size: 30px;font-family:Arial,'sans-serif'; text-align: center;;">
                                LOGIN OTP
                            </h2>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colSpan="2"
                style="padding:20px 50px 50px 50px; border-right:1px solid #ccc;border-left:1px solid #ccc;">
                <p style="font-size:16px; font-family:Arial, 'sans-serif'; color:rgb(14, 13, 13);"></p>
                <h3
                    style="color: black; font-size : 30px; border-left: 2px solid rgb(204, 195, 195); padding-left: 10px; display:block; margin: 0;">
                    <b>OTP </br>VERIFICATION</b>
                </h3>
                <p>&nbsp;</p>
                <strong>Dear {{name}},</strong>
                <p>&nbsp;</p>
                <p>Please use the following OTP to get access to your Exam Portal.</p>
                <p>&nbsp;</p>
                <p>Your Otp: <b>{{OTP}}</b></p>
                <p>&nbsp;</p>
                <!-- <p>Once your account is activatied you can use the App Features.</p> -->
                <p>&nbsp;</p>
                <p>Warm Regards,</p>
                <p><b>Team COE</b></p>
                <p>&nbsp;</p>
               
            </td>
        </tr>
        <!-- <tr>
            <td colSpan="2" style="background-color:rgb(174, 174, 240); padding: 5px;" align="center">
                <p><b>Contact Us</b></p>
                <p style="font-size: 13px; line-height: 22px; margin-top: 10px;">Plot No. 32-34,<br>
                    Knowledge Park III,Greater Noida,<br> Uttar Pradesh 201310<br>
                    +91-120-4570000</p>
                <a href="mail-to:info.projectwise@sharda.ac.in"
                    style="color:rgb(78, 78, 231); text-decoration: underline; margin-top: 10px; margin-bottom:15px; display:block; font-size: 13px;">info.projectwise@sharda.ac.in</a>
            </td>
        </tr>
        <tr>
            <td style="background-color: rgb(174, 174, 240); text-align: center; ">
                <a title="Facebook" style="padding: 10px; color: rgb(78, 78, 231); text-decoration: none;"
                    href="https://www.facebook.com/ShardaUniversity/" className="fa fa-facebook"></a>
                <a title="Twitter" style="padding: 10px; color: rgb(78, 78, 231);  text-decoration: none;"
                    href="https://twitter.com/sharda_uni" className="fa fa-twitter"></a>
                <a title="LinkedIn" style="padding: 10px; color: rgb(78, 78, 231);  text-decoration: none;"
                    href="https://in.linkedin.com/school/sharda-university/" className="fa fa-linkedin"></a>
                <a title="YouTube" style="padding: 10px; color: rgb(78, 78, 231);  text-decoration: none;"
                    href="https://www.youtube.com/channel/UC8yE0HOsSQZwOJTgQQUn3DQ" className="fa fa-youtube"></a>
            </td>
        </tr> -->
        <tr>
            <td colspan="2" style="background-color:#4061ad; padding: 22px;" align="center">
                <p style="color: white; font-size: 12px;">&copy; 2024 Sharda Tech Pvt. Ltd. All Rights Reserved.</p>
            </td>
        </tr>
    </table>
</body>
</html>